In [ ]:
#Import the libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# **Step 1: Loading the dataset**

In [ ]:
# Download the dataset
data = "/content/drive/MyDrive/student-mat.csv"
# Load the data into datafram
sd_df = pd.read_csv('/content/drive/MyDrive/student-mat.csv',delimiter=';')

The Dataset is succesfully loaded into a Pandas dataframe.

# **Step 2: Data exploration**

In [ ]:
# Display the dataset
print(sd_df.head(5))

The first five rows of dataset are displayed.

In [ ]:
# Check data types and missing values
sd_df.info()

Data types and missing values are checked confirming that there are no missing values.

# **Step 3: Data Cleaning**

In [ ]:
# Checked the missing values
sd_df.isnull().sum()

The dataset is checked for missing values (none found).

In [ ]:
# Remove duplicates
sd_df.drop_duplicates()

Duplicate entries are removed.

# **Step 4: Data Analysis Questions**
**1. What is the average score in math (G3**)?

In [ ]:
 average_score = sd_df['G3'].mean()
 print("Average score in math :",average_score)

**2. How many students scored above 15 in their final grade (G3)?.**

In [ ]:
num_above_above_15 = len(sd_df[sd_df['G3']>15])
print("Number of student scoring above 15 in G3:",num_above_above_15)

**3. Is there a correlation between study time (study time) and the final grade (G3)?**

In [ ]:
correlation = sd_df["studytime"].corr(sd_df["G3"])
print("correlation between study time and final grade:",correlation)

**4. Which gender has a higher average final grade (G3)?**

In [ ]:
Gender_avg_G3 = sd_df.groupby("sex")["G3"].mean()
print(Gender_avg_G3)

# **Step 5: Data Visualization**

### **1. Histogram**

In [ ]:
# Histogra of final grades

plt.figure(figsize=(8,6))
plt.hist(sd_df["G3"],bins=20,color="blue",edgecolor="black")
plt.title("Distribution of final grades (G3)")
plt.xlabel("final grade")
plt.ylabel("Number of Students")
plt.show()

## **2. Scatter plot**

In [ ]:
# Scatter plot of study time vs.final grade

plt.figure(figsize=(8,6))
sns.scatterplot(data=sd_df,x="studytime",y="G3",hue="sex")
plt.title("study time vs. final grade")
plt.xlabel("study time")
plt.ylabel("final grade")
plt.show()

## **3. Bar chart**

In [ ]:
# Bar chart of comparing the average scores by gender

plt.figure(figsize=(8,6))
Gender_avg_G3.plot(kind="bar",color=["blue","pink"])
plt.title("Comparing the average scores by gender")
plt.xlabel("Gender")
plt.ylabel("Average final grade")
plt.show()